<header class="site-header" role="banner">
  <div class="navbar">

    <div class="logo">
      <!-- <img src="{{site.logo}}" alt="logo"> -->
      {%- include github.svg -%}
      <a href="/">
        <span>{{site.title}}</span>
      </a>
    </div>

    {%- if page.layout == 'docs' -%}
    <div class="search">
      {%- include search-lunr.html -%}
    </div>
    {%- endif -%}

    <nav class="navigation hidden" id="navigation">
      {%- for item in site.data.navigation -%}
      {% assign link = item.link | replace: ".html" %}
      {% assign url = page.url | replace: ".html" %}
      <a href="{{link}}" {% if url == link %}class="active" {% endif %}>{{item.title}}</a>
      {%- endfor -%}
    </nav>


    <button class="toggle_mnu" id="toggle_menu" onclick="toggle_menu()">
      <img src="{{'/assets/images/sandwich_white.png' | relative_url}}" class="open toggle_icon" alt="menu open">
      <img src="{{'/assets/images/times.png' | relative_url}}" class="close toggle_icon hidden" alt="menu close">
    </button>
  </div>
</header>