<div color="white" display="flex" class="indexesm__Box-sc-1ao7p5-1 indexesm__Flex-sc-1ao7p5-3 kYnOYO">
  <div style="width: 100%; transform: none; transform-origin: 100% 50% 0px;"><span
      class="dark-text-input__DarkTextInput-sc-1s5fgl0-0 cgwfPm TextInput-wrapper indexesm__Wrapper2-sc-1ao7p5-56 iFZaQX"
      width="100%"><input type="text" aria-autocomplete="list" aria-labelledby="downshift-1-label" autocomplete="off"
        id="downshift-1-input" placeholder="Search" class="indexesm__Input-sc-1ao7p5-55 ibgZfJ" value=""></span></div>
  <button aria-label="Cancel"
    class="indexesm__ButtonBase-sc-1ao7p5-16 indexesm__ButtonOutline-sc-1ao7p5-19 dark-button__DarkButton-b3yyu2-0 gEdPKt"><svg
      aria-hidden="true" class="indexesm__StyledOcticon-sc-1ao7p5-27 xrdzL" height="16" role="img" viewBox="0 0 12 16"
      width="12" style="display: inline-block; fill: currentcolor; user-select: none; vertical-align: text-bottom;">
      <path fill-rule="evenodd"
        d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48L7.48 8z">
      </path>
    </svg></button>
</div>