<aside class="sidebar_left">
  <nav>
    <h2>Sections</h2>
    <ul class="aside_nav">
      {%- for item in site.docs -%}
      <li>
        <a href="{{item.url}}">{{item.title}}</a>
        {%- if item.has_children -%}
          {%- assign this = item.title -%}
          {% assign children = site.docs | where: "parent", this %}
          <ul>
            {%- for child in children -%}
              <li style="margin-left: 25px;">
                <a href="{{child.url}}">{{child.title}}</a>
              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  </nav>
</aside>