body {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 80px 1fr auto;
}
h1 {
  font-size: 3rem;
  font-weight: 700;
}
h2 {
  font-size: 2rem;
}
.site-header {
  z-index: 1000;
  position: sticky;
  top: 0;
  background: $background-color;
  border-top: none;
  .navbar {
    padding: 15px 2%;
    display: grid;
    grid-template-columns: 300px 1fr;
    justify-content: space-around;
    .logo {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      color: $brand-color;
      font-size: 1.4em;
      img {
        height: 50px;
      }
    }
    .navigation {
      align-items: center;
      justify-content: flex-end;
      display: flex;
      a {
        padding: 10px;
        color: $text-color-s;
      }
    }
  }
}
.intro {
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  align-items: center;
  .text_box {
    h1 {
      font-size: 48px;
      font-weight: 600;
      color: $brand-color;
    }
    h2 {
      font-size: 40px;
      line-height: 1.2;
    }
    p {
      line-height: 1.5;
      color: $text-color-s;
    }
  }
}
.left_sidebar {
  position: fixed;
  left: 0;
  top: 100px;
  padding: 20px 2% 20px 2%;
  ul {
    list-style-type: none;
    margin: 0;
    a {
      padding: 5px;
      color: $sidebar-color;
      &:hover {
        color: $sidebar-hover;
      }
    }
  }
}
.page-content {
  display: grid;
  grid-template-columns: 15% 1fr 15%;
  grid-template-areas: ". c .";
  gap: 1rem;
}
.content {
  grid-area: c;
  .content_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    .content_item {
      position: relative;
      padding: 10px;
      border: 1px solid $grey-color-dark;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      a {
        color: $text-color;
      }
      h2 {
        text-align: center;
      }
      p {
        text-align: justify;
      }
      .card_bg {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 60%;
        opacity: 0.3;
      }
      .card_icon {
        display: block;
        width: 50%;
        padding-bottom: 10px;
        margin: 15px auto;
      }
      &:hover {
        background: #000;
      }
      .author_image {
        width: 100%;
      }
    }
  }
}
