body {
  display: grid;
  grid-template-rows: 80px 1fr auto;
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 34px;
  font-weight: 700;
  color: $brand-color;
  line-height: 1;
}
h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  scroll-snap-align: start;
  scroll-margin-top: 100px;
}
p {
  font-size: 16px;
  line-height: 1.5;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
li {
  margin: 0;
}

.site-header {
  background: $background-color;
  border-bottom: 2px solid lighten($background-color, 5%);
  position: sticky;
  top: 0;
  z-index: 1000;

  .toggle_mnu {
    background: transparent;
    border: 0;
    justify-self: right;
    outline: none;
    width: 30px;
  }

  .toggle_icon {
    padding-right: 10px;
    justify-self: end;
    align-self: center;
    cursor: pointer;
    svg {
      fill: #fff;
      &:hover {
        fill: $brand-color;
      }
    }
  }
  .navbar {
    padding: 15px 2%;
    display: grid;
    grid-template-columns: 260px 1fr;
    justify-content: space-around;
    .logo {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      color: $brand-color;
      font-size: 1.1em;
    }
    .navigation {
      width: 100%;
      top: 80px;
      right: 0;
      background: darken($background-color, 2%);
      padding: 20px 30px;
      text-align: right;
      position: absolute;
      display: grid;
      align-items: center;
      justify-content: flex-end;
      a {
        padding: 10px;
        color: $text-color-s;
        border-bottom: 2px solid transparent;
        &:hover {
          text-decoration: none;
          color: $brand-color;
        }
      }
      .active {
        border-bottom: 2px solid $brand-color;
      }
    }
    .hidden {
      display: none;
    }
  }
}

.home_intro {
  padding-top: 30px;
  display: grid;
  gap: 2em;
  align-items: start;
  .text_box {
    p {
      font-size: 16px;
      line-height: 1.5;
      color: $text-color-s;
    }
  }
}
.team_intro {
  a {
    color: lighten($brand-color, 20%);
    text-decoration: underline;
  }
}
.image_box img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.page-content {
  width: 100%;
}

.content {
  grid-area: c;
  margin: 0 auto;
  padding: 30px;
  .content_grid {
    display: grid;
    gap: 1rem;
    .content_item {
      position: relative;
      padding: 0 20px;
      border: 1px solid $grey-color-dark;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      a {
        color: $text-color;
        text-decoration: none;
      }
      h2 {
        text-align: center;
        color: $brand-color;
      }
      .card_bg {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 60%;
        opacity: 0.3;
      }
      .card_icon {
        display: block;
        width: 50%;
        padding-bottom: 10px;
        margin: 15px auto;
      }
      &:hover {
        background: darken($background-color, 2%);
      }
    }
  }
}

.team_grid {
  display: grid;
  gap: 4rem;
  h1,
  h2,
  h3 {
    color: $brand-color;
  }
  .team_item {
    display: grid;
    gap: 40px;
    a {
      position: relative;
      color: lighten($brand-color, 20%);
      text-decoration: underline;
    }
    svg {
      position: absolute;
      fill: #2188ff;
      width: 100%;
      top: 0;
      left: 0;
      transform: rotate(180deg);
    }
    &:nth-child(even) {
      direction: rtl;
    }
    .text_box {
      direction: ltr;
    }
  }
}

.author_img_box {
  top: 15px;
  display: block;
  width: 100%;
  height: fit-content;
  position: relative;
  .author_image {
    display: block;
    margin: auto;
    border: 3px solid $brand-color;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  .author_nick {
    margin: 0 auto;
    padding: 10px 0 10px 30px;
    width: max-content;
    background-image: url("/assets/images/favicon-32.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 24px auto;
    font-size: 20px;
    direction: ltr;
  }
}

.shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* Blog page */
.blog_intro {
  height: max-content;
  img {
    margin-bottom: 30px;
  }
}
.posts_list {
  margin-top: 30px;
  a {
    font-size: 24px;
    color: $brand-color;
  }
  .content_item {
    margin-top: 50px;
  }
}
.hidden {
  display: none;
}
.rot45 {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.site-footer {
  margin-top: 30px;
}
.footer_wrapper {
  max-width: 1000px;
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
  .footer-heading {
    padding: 15px;
  }
  p {
    margin: 0;
  }
}
.social-media-list {
  svg {
    fill: $text-color-s;
    vertical-align: middle;
  }
}
/* Document style */
.doc_page {
  .docs {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "top" "middle" "bottom";
    background: $bg-color-doc;
    color: $background-color;
    .intro_wrapper {
      grid-area: top;
      padding: 20px;
      background: $background-color;
      color: $text-color;
      /* grid-area: c; */
    }
    .sidebar_left {
      grid-area: bottom;
      padding: 20px;
      .toggle_sub {
        display: inline-block;
        cursor: pointer;
        color: $brand-color;
      }
      nav {
        top: 180px;
        position: sticky;
        ul {
          list-style-type: none;
          margin: 0;
          a {
            padding: 5px;
            font-size: $sidebar_f_size;
            color: $brand-color;
            &:hover {
              color: $sidebar-hover;
            }
          }
          .active {
            font-weight: 700;
          }
        }
        .active {
          font-weight: 700;
          a {
            color: $sidebar-color;
          }
        }
      }
      .sub_menu {
        a {
          color: $text-color-t;
          font-weight: normal;
          margin-left: 20px;
        }
      }
      .active > .sub_menu {
        display: block;
      }
    }
    .document {
      box-sizing: border-box;

      grid-area: middle;
      padding: 30px;
      doc_title {
        padding-top: 200px;
      }
      a:hover {
        color: #000;
      }
    }
    .docs_content {
      max-width: 100vw;
      padding: 20px;
      display: grid;
      * {
        max-width: 90vw;
      }
    }
  }
}
/* tags filters */

.tag_filter {
  background: transparent;
  color: $text-color;
  border: 1px solid $sidebar-color;
  padding: 8px 15px 8px 18px;
  margin: 5px;
  outline: 0;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.tags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .active {
    background-color: $bg-color-doc;
    background-image: url("/assets/images/checkmark-outline.svg");
    background-position: 3px;
    background-size: auto 50%;
    background-repeat: no-repeat;
    color: $brand-color;
  }
}

#markdown-toc {
  font-size: 14px;
  &::before {
    content: "Table of contents";
    font-size: 24px;
  }
}
.highlighter-rouge {
  max-width: 90vw;
  overflow-x: auto;
}

/* media queries */
@media screen and (min-width: 768px) {
  .blog_intro {
    padding: 20px;
  }
  .intro {
    padding: 30px;
  }
  .home_intro {
    h1 {
      font-size: 56px;
    }
    h2 {
      font-size: 24px;
    }
    p {
      font-size: 16px;
    }
  }
  .site-header .navbar {
    grid-template-columns: 320px 1fr;
    .navigation {
      width: max-content;
    }
  }
  .sidebar_left {
    display: block;
    padding: 20px;
  }
  .content_grid {
    grid-template-columns: 1fr 1fr;
  }
  .author_image {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .highlighter-rouge {
    max-width: 60vw;
  }
  .aside_nav {
    overflow-y: auto;
    max-height: 75vh;
  }

  .doc_page .docs {
    width: 100%;
    display: grid;
    grid-template-columns: 320px 1fr;
    grid-template-areas: "l c" "l d";
    .docs_content {
      grid-area: d;
      max-width: 1000px;
      padding: 40px;
    }
    .intro_wrapper {
      grid-area: c;
    }
    .sidebar_left {
      grid-area: l;
    }
    .document {
      grid-area: c;
      display: grid;
      h1,
      h2 {
        padding-top: 30px;
      }
      .sidebar_right {
        padding: 30px;
        ul {
          list-style: none;
          position: sticky;
          top: 150px;
          a {
            font-size: 14px;
            &:hover {
              color: #000;
            }
          }
        }
      }
    }
  }

  .home_intro {
    h1 {
      font-size: 84px;
    }
    h2 {
      font-size: 40px;
    }
  }
  .intro {
    max-width: 1000px;
    padding: 5vw 40px 30px;
    display: grid;
    gap: 40px;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "a b";
    .image_box {
      grid-area: b;
      img {
        width: 100%;
      }
    }
    .text_box {
      grid-area: a;
    }
  }
  .team_item {
    grid-template-columns: 1fr 2fr;
    gap: 4rem;
  }
  .author_image {
    width: 80%;
  }
}
@media screen and (min-width: 1440px) {
  .document {
    grid-template-columns: 1fr 260px;
  }
  .highlighter-rouge {
    max-width: 55vw;
  }
  #markdown-toc {
    position: fixed;
    width: 170px;
    word-wrap: anywhere;
    max-height: 50vh;
    overflow-y: auto;
    top: 200px;
    right: 30px;
  }
  .site-header .navbar .navigation {
    display: flex;
    position: relative;
    justify-self: right;
    height: 100%;
    padding: 0;
    top: 0;
    background: transparent;
    letter-spacing: -0.5px;
  }
  .toggle_icon {
    display: none;
  }
  .content_grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .page-content {
    /* grid-template-columns: 260px 1fr 260px; */
    .content {
      max-width: 1000px;
    }
  }
  .home_intro {
    padding-top: 5vh;
  }
}
@media screen and (max-width: 767px) {
  .y_video {
    width: calc(100vw * 0.8);
    height: calc(100vw * 0.6);
  }
}
