/** Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure { margin: 0; padding: 0; }

/** Basic styling */
body { font: 400 20px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; color: #fdfdfd; -webkit-text-size-adjust: 100%; -webkit-font-feature-settings: "kern" 1; -moz-font-feature-settings: "kern" 1; -o-font-feature-settings: "kern" 1; font-feature-settings: "kern" 1; font-kerning: normal; min-height: 100vh; flex-direction: column; }

/** Set `margin-bottom` to maintain vertical rhythm */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight { margin-bottom: 15px; }

/** `main` element */
main { display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */ }

/** Images */
img { max-width: 100%; vertical-align: middle; }

/** Figures */
figure > img { display: block; }

figcaption { font-size: 17.5px; }

/** Lists */
ul, ol { margin-left: 30px; }

li > ul, li > ol { margin-bottom: 0; }

/** Headings */
h1, h2, h3, h4, h5, h6 { font-weight: 400; }

/** Links */
a { color: #2a7ae2; text-decoration: none; }

a:visited { color: #4088e5; }

a:hover { color: #fdfdfd; text-decoration: underline; }

.social-media-list a:hover { text-decoration: none; }

.social-media-list a:hover .username { text-decoration: underline; }

/** Blockquotes */
blockquote { color: #828282; border-left: 4px solid #e8e8e8; padding-left: 15px; font-size: 22.5px; letter-spacing: -1px; font-style: italic; }

blockquote > :last-child { margin-bottom: 0; }

/** Code formatting */
pre, code { font-size: 18.75px; border: 1px solid #e8e8e8; border-radius: 3px; background-color: #eef; }

code { padding: 1px 5px; }

pre { padding: 8px 12px; overflow-x: auto; }

pre > code { border: 0; padding-right: 0; padding-left: 0; }

/** Wrapper */
.wrapper { max-width: -webkit-calc(800px - (30px * 2)); max-width: calc(800px - (30px * 2)); margin-right: auto; margin-left: auto; padding-right: 30px; padding-left: 30px; }

@media screen and (max-width: 800px) { .wrapper { max-width: -webkit-calc(800px - (30px)); max-width: calc(800px - (30px)); padding-right: 15px; padding-left: 15px; } }

/** Clearfix */
.footer-col-wrapper:after, .wrapper:after { content: ""; display: table; clear: both; }

/** Icons */
.svg-icon { width: 16px; height: 16px; display: inline-block; fill: #828282; padding-right: 5px; vertical-align: text-top; }

.social-media-list li + li { padding-top: 5px; }

/** Tables */
table { margin-bottom: 30px; width: 100%; text-align: left; color: white; border-collapse: collapse; border: 1px solid #e8e8e8; }

table tr:nth-child(even) { background-color: #f7f7f7; }

table th, table td { padding: 10px 15px; }

table th { background-color: #f0f0f0; border: 1px solid #dedede; border-bottom-color: #c9c9c9; }

table td { border: 1px solid #e8e8e8; }

/** Site header */
.site-header { min-height: 55.95px; position: relative; }

.site-title { font-size: 3rem; font-weight: 300; line-height: 1.5; letter-spacing: -1px; margin-bottom: 0; float: left; }

.site-title, .site-title:visited { color: #e8e8e8; }

.site-nav { float: right; line-height: 67.5px; }

.site-nav .nav-trigger { display: none; }

.site-nav .menu-icon { display: none; }

.site-nav .page-link { color: #fdfdfd; line-height: 1.5; }

.site-nav .page-link:not(:last-child) { margin-right: 20px; }

@media screen and (max-width: 600px) { .site-nav { position: absolute; top: 9px; right: 15px; background-color: #1b1f23; border: 1px solid #e8e8e8; border-radius: 5px; text-align: right; } .site-nav label[for="nav-trigger"] { display: block; float: right; width: 36px; height: 36px; z-index: 2; cursor: pointer; } .site-nav .menu-icon { display: block; float: right; width: 36px; height: 26px; line-height: 0; padding-top: 10px; text-align: center; } .site-nav .menu-icon > svg { fill: #424242; } .site-nav input ~ .trigger { clear: both; display: none; } .site-nav input:checked ~ .trigger { display: block; padding-bottom: 5px; } .site-nav .page-link { display: block; padding: 5px 10px; margin-left: 20px; } .site-nav .page-link:not(:last-child) { margin-right: 0; } }

/** Site footer */
.site-footer { border-top: 2px solid #262c31; padding: 30px 0; }

.footer-heading { font-size: 22.5px; margin-bottom: 15px; }

.contact-list, .social-media-list { list-style: none; margin-left: 0; }

.footer-col-wrapper { font-size: 18.75px; color: #828282; margin-left: -15px; }

.footer-col { float: left; margin-bottom: 15px; padding-left: 15px; }

.footer-col-1 { width: -webkit-calc(35% - (30px / 2)); width: calc(35% - (30px / 2)); }

.footer-col-2 { width: -webkit-calc(20% - (30px / 2)); width: calc(20% - (30px / 2)); }

.footer-col-3 { width: -webkit-calc(45% - (30px / 2)); width: calc(45% - (30px / 2)); }

@media screen and (max-width: 800px) { .footer-col-1, .footer-col-2 { width: -webkit-calc(50% - (30px / 2)); width: calc(50% - (30px / 2)); } .footer-col-3 { width: -webkit-calc(100% - (30px / 2)); width: calc(100% - (30px / 2)); } }

@media screen and (max-width: 600px) { .footer-col { float: none; width: -webkit-calc(100% - (30px / 2)); width: calc(100% - (30px / 2)); } }

/** Page content */
.page-content { /* padding: $spacing-unit 0; */ flex: 1; }

.page-heading { font-size: 40px; }

.post-list-heading { font-size: 35px; }

.post-list { margin-left: 0; list-style: none; }

.post-list > li { margin-bottom: 30px; }

.post-meta { font-size: 17.5px; color: #828282; }

.post-link { display: block; font-size: 30px; }

/** Posts */
.post-header { margin-bottom: 30px; }

.post-title { font-size: 52.5px; letter-spacing: -1px; line-height: 1; }

@media screen and (max-width: 800px) { .post-title { font-size: 45px; } }

.post-content { margin-bottom: 30px; }

.post-content h2 { font-size: 40px; }

@media screen and (max-width: 800px) { .post-content h2 { font-size: 35px; } }

.post-content h3 { font-size: 32.5px; }

@media screen and (max-width: 800px) { .post-content h3 { font-size: 27.5px; } }

.post-content h4 { font-size: 25px; }

@media screen and (max-width: 800px) { .post-content h4 { font-size: 22.5px; } }

/** Syntax highlighting styles */
.highlight { background: #fff; }

.highlighter-rouge .highlight { background: #eef; }

.highlight .c { color: #998; font-style: italic; }

.highlight .err { color: #a61717; background-color: #e3d2d2; }

.highlight .k { font-weight: bold; }

.highlight .o { font-weight: bold; }

.highlight .cm { color: #998; font-style: italic; }

.highlight .cp { color: #999; font-weight: bold; }

.highlight .c1 { color: #998; font-style: italic; }

.highlight .cs { color: #999; font-weight: bold; font-style: italic; }

.highlight .gd { color: #000; background-color: #fdd; }

.highlight .gd .x { color: #000; background-color: #faa; }

.highlight .ge { font-style: italic; }

.highlight .gr { color: #a00; }

.highlight .gh { color: #999; }

.highlight .gi { color: #000; background-color: #dfd; }

.highlight .gi .x { color: #000; background-color: #afa; }

.highlight .go { color: #888; }

.highlight .gp { color: #555; }

.highlight .gs { font-weight: bold; }

.highlight .gu { color: #aaa; }

.highlight .gt { color: #a00; }

.highlight .kc { font-weight: bold; }

.highlight .kd { font-weight: bold; }

.highlight .kp { font-weight: bold; }

.highlight .kr { font-weight: bold; }

.highlight .kt { color: #458; font-weight: bold; }

.highlight .m { color: #099; }

.highlight .s { color: #d14; }

.highlight .na { color: #008080; }

.highlight .nb { color: #0086B3; }

.highlight .nc { color: #458; font-weight: bold; }

.highlight .no { color: #008080; }

.highlight .ni { color: #800080; }

.highlight .ne { color: #900; font-weight: bold; }

.highlight .nf { color: #900; font-weight: bold; }

.highlight .nn { color: #555; }

.highlight .nt { color: #000080; }

.highlight .nv { color: #008080; }

.highlight .ow { font-weight: bold; }

.highlight .w { color: #bbb; }

.highlight .mf { color: #099; }

.highlight .mh { color: #099; }

.highlight .mi { color: #099; }

.highlight .mo { color: #099; }

.highlight .sb { color: #d14; }

.highlight .sc { color: #d14; }

.highlight .sd { color: #d14; }

.highlight .s2 { color: #d14; }

.highlight .se { color: #d14; }

.highlight .sh { color: #d14; }

.highlight .si { color: #d14; }

.highlight .sx { color: #d14; }

.highlight .sr { color: #009926; }

.highlight .s1 { color: #d14; }

.highlight .ss { color: #990073; }

.highlight .bp { color: #999; }

.highlight .vc { color: #008080; }

.highlight .vg { color: #008080; }

.highlight .vi { color: #008080; }

.highlight .il { color: #099; }

body { display: grid; grid-template-rows: 80px 1fr auto; font-family: "Roboto", sans-serif; }

h1 { font-size: 34px; font-weight: 700; color: #2a7ae2; line-height: 1; }

h2 { font-size: 24px; font-weight: 700; line-height: 1.25; }

h1, h2, h3, h4, h5, h6 { scroll-snap-align: start; scroll-margin-top: 100px; }

p { font-size: 16px; line-height: 1.5; display: block; margin-block-start: 1em; margin-block-end: 1em; margin-inline-start: 0px; margin-inline-end: 0px; }

li { margin: 0; }

.site-header { background: #1b1f23; border-bottom: 2px solid #262c31; position: sticky; top: 0; z-index: 1000; }

.site-header .toggle_mnu { background: transparent; border: 0; justify-self: right; outline: none; width: 30px; }

.site-header .toggle_icon { padding-right: 10px; justify-self: end; align-self: center; cursor: pointer; }

.site-header .toggle_icon svg { fill: #fff; }

.site-header .toggle_icon svg:hover { fill: #2a7ae2; }

.site-header .navbar { padding: 15px 2%; display: grid; grid-template-columns: 260px 1fr; justify-content: space-around; }

.site-header .navbar .logo { display: flex; justify-content: space-evenly; align-items: center; color: #2a7ae2; font-size: 1.1em; }

.site-header .navbar .navigation { width: 100%; top: 80px; right: 0; background: #171a1d; padding: 20px 30px; text-align: right; position: absolute; display: grid; align-items: center; justify-content: flex-end; }

.site-header .navbar .navigation a { padding: 10px; color: #c8ffff; border-bottom: 2px solid transparent; }

.site-header .navbar .navigation a:hover { text-decoration: none; color: #2a7ae2; }

.site-header .navbar .navigation .active { border-bottom: 2px solid #2a7ae2; }

.site-header .navbar .hidden { display: none; }

.home_intro { padding-top: 30px; display: grid; gap: 2em; align-items: start; }

.home_intro .text_box p { font-size: 16px; line-height: 1.5; color: #c8ffff; }

.image_box img { display: block; margin-left: auto; margin-right: auto; width: 70%; }

.page-content { width: 100%; }

.content { grid-area: c; margin: 0 auto; padding: 30px; }

.content .content_grid { display: grid; gap: 1rem; }

.content .content_grid .content_item { position: relative; padding: 0 20px; border: 1px solid #424242; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; }

.content .content_grid .content_item a { color: #fdfdfd; text-decoration: none; }

.content .content_grid .content_item h2 { text-align: center; color: #2a7ae2; }

.content .content_grid .content_item .card_bg { position: absolute; left: 0; bottom: 0; width: 100%; height: 60%; opacity: 0.3; }

.content .content_grid .content_item .card_icon { display: block; width: 50%; padding-bottom: 10px; margin: 15px auto; }

.content .content_grid .content_item:hover { background: #171a1d; }

.content .content_grid .content_item .author_image { width: 100%; }

.team_grid { display: grid; gap: 4rem; }

.team_grid h1, .team_grid h2, .team_grid h3 { color: #2a7ae2; }

.team_grid .team_item { display: grid; gap: 40px; }

.team_grid .team_item a { display: block; position: relative; }

.team_grid .team_item svg { position: absolute; fill: #2188ff; width: 100%; top: 0; left: 0; transform: rotate(180deg); }

.team_grid .team_item img { display: block; margin: auto; border: 3px solid #2a7ae2; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; }

.team_grid .team_item:nth-child(even) { direction: rtl; }

.team_grid .team_item .text_box { direction: ltr; }

.author_img_box { top: 15px; display: block; width: 100%; height: fit-content; position: relative; }

.shape { position: absolute; top: 0; left: 0; width: 100%; }

/* Blog page */
.blog_intro { height: max-content; }

.blog_intro img { margin-bottom: 30px; }

.posts_list { margin-top: 30px; }

.posts_list a { font-size: 24px; color: #2a7ae2; }

.posts_list .content_item { margin-top: 50px; }

.hidden { display: none; }

.site-footer { margin-top: 30px; }

.footer_wrapper { max-width: 1000px; padding: 2%; margin-left: auto; margin-right: auto; }

.footer_wrapper .footer-heading { padding: 15px; }

.footer_wrapper p { margin: 0; }

/* Document style */
.doc_page .docs { display: grid; grid-template-columns: 1fr; grid-template-rows: auto; grid-template-areas: "top" "middle" "bottom"; background: #ffffff; color: #1b1f23; }

.doc_page .docs .intro_wrapper { grid-area: top; padding: 20px; background: #1b1f23; color: #fdfdfd; /* grid-area: c; */ }

.doc_page .docs .sidebar_left { grid-area: bottom; padding: 20px; }

.doc_page .docs .sidebar_left nav { top: 180px; position: sticky; }

.doc_page .docs .sidebar_left nav ul { list-style-type: none; margin: 0; }

.doc_page .docs .sidebar_left nav ul a { padding: 5px; font-size: 14px; color: #2a7ae2; }

.doc_page .docs .sidebar_left nav ul a:hover { color: #d8e2f5; }

.doc_page .docs .document { box-sizing: border-box; grid-area: middle; padding: 30px; }

.doc_page .docs .document doc_title { padding-top: 200px; }

.doc_page .docs .document a:hover { color: #000; }

.doc_page .docs .docs_content { max-width: 100vw; padding: 20px; display: grid; }

.doc_page .docs .docs_content * { max-width: 90vw; }

/* tags filters */
.tag_filter { background: transparent; color: #fdfdfd; border: 1px solid #a6b4cf; padding: 8px 15px 8px 18px; margin: 5px; outline: 0; border-radius: 15px; -webkit-border-radius: 15px; -moz-border-radius: 15px; -ms-border-radius: 15px; -o-border-radius: 15px; }

.tags { display: flex; justify-content: center; flex-wrap: wrap; }

.tags .active { background-color: #ffffff; background-image: url("/assets/images/checkmark-outline.svg"); background-position: 3px; background-size: auto 50%; background-repeat: no-repeat; color: #2a7ae2; }

/* media queries */
@media screen and (min-width: 768px) { .blog_intro { padding: 20px; } .intro { padding: 30px; } .home_intro h1 { font-size: 56px; } .home_intro h2 { font-size: 24px; } .home_intro p { font-size: 16px; } .site-header .navbar { grid-template-columns: 320px 1fr; } .site-header .navbar .navigation { width: max-content; } .sidebar_left { display: block; padding: 20px; } .content_grid { grid-template-columns: 1fr 1fr; } .author_image { width: 50%; } }

@media screen and (min-width: 1024px) { .doc_page .docs { width: 100%; display: grid; grid-template-columns: 320px 1fr; grid-template-areas: "l c" "l d"; } .doc_page .docs .docs_content { grid-area: d; max-width: 1000px; padding: 40px; } .doc_page .docs .intro_wrapper { grid-area: c; } .doc_page .docs .sidebar_left { grid-area: l; } .doc_page .docs .document { grid-area: c; display: grid; grid-template-columns: 1fr 260px; } .doc_page .docs .document h1, .doc_page .docs .document h2 { padding-top: 30px; } .doc_page .docs .document .sidebar_right { padding: 30px; } .doc_page .docs .document .sidebar_right ul { list-style: none; position: sticky; top: 150px; } .doc_page .docs .document .sidebar_right ul a { font-size: 14px; } .doc_page .docs .document .sidebar_right ul a:hover { color: #000; } .home_intro h1 { font-size: 84px; } .home_intro h2 { font-size: 40px; } .intro { max-width: 1000px; padding: 5vw 40px 30px; display: grid; gap: 40px; grid-template-columns: 2fr 1fr; grid-template-areas: "a b"; } .intro .image_box { grid-area: b; } .intro .image_box img { width: 100%; } .intro .text_box { grid-area: a; } .team_item { grid-template-columns: 1fr 2fr; gap: 4rem; } .author_image { width: 80%; } }

@media screen and (min-width: 1440px) { .site-header .navbar .navigation { display: flex; position: relative; justify-self: right; height: 100%; padding: 0; top: 0; background: transparent; letter-spacing: -0.5px; } .toggle_icon { display: none; } .content_grid { grid-template-columns: 1fr 1fr 1fr; } .page-content { /* grid-template-columns: 260px 1fr 260px; */ } .page-content .content { max-width: 1000px; } .home_intro { padding-top: 5vh; } }

@media screen and (max-width: 767px) { .y_video { width: calc(100vw * 0.8); height: calc(100vw * 0.6); } }

/*# sourceMappingURL=main.css.map */