---
layout: default_docs
---
<article class="h-entry document" itemscope itemtype="http://schema.org/BlogPosting">
  <div>
    <header class="doc_header">
      <h1 class="doc_title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    </header>

{% include search-lunr.html %}


    <div class="doc_content e-content" itemprop="articleBody">
      {{ content }}
    </div>
  </div>
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

  <aside class="sidebar_right">
    {% if page.titles %}
    <ul>
      <h2>Titles:</h2>
      {% for item in page.titles %}
      <li>
        <a class="p_link" href="#{{item | split: ' ' | join: '-' | downcase | remove: '/'}}">{{item}}</a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    </nav>
  </aside>
</article>